<!DOCTYPE html>
<html>

<head>
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>expense</title>
</head>

<body>
    <div class="form">
        <h1><%= title %></h1>
        <% if (locals.form.first_name) { %>
            <h2>
              Hi <%= locals.form.first_name %>!
              <% if (locals.form.user_name) { %>
                  @<%= locals.form.user_name %>
              <% } %>
            </h2>
        <% } %>
        <% if (locals.error) { %>
            <p><%= locals.error %></p>
        <% } %>
        <form action="http://localhost:3000/expense/" method="post">
            First Name: <input type="text" name="first_name"
            <% if (locals.form.first_name) { %>
                value="<%= locals.form.first_name %>"
            <% } %>><br>
            Last Name: <input type="text" name="last_name"
            <% if (locals.form.last_name) { %>
                value="<%= locals.form.last_name %>"
            <% } %>><br>
            Email: <input type="text" name="email"
            <% if (locals.form.email) { %>
                value="<%= locals.form.email %>"
            <% } %>><br>
            Value: <input type="text" name="value"
            <% if (locals.form.value) { %>
                value="<%= locals.form.value %>"
            <% } %>><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="footer">
    </div>
</body>

</html>
