<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>/expense</title>
</head>

<body>
    <div class="form">
        <h1><%= title %></h1>
        <% if (locals.form.first_name) { %>
            <h2>
              <% if (locals.form.user_name) {%>@<%=locals.form.user_name%><%}%>
            </h2>
        <% } %>
        <% if (locals.error) { %>
            <p><%= locals.error %></p>
        <% } %>

        <section>
            <article id="receipt1">
                <!-- Hidden form elements -->
                <input type="text" name="first_name" class="hidden"
                <% if (locals.form.first_name) { %>
                    value="<%= locals.form.first_name %>"
                <% } %>>
                <input type="text" name="last_name" class="hidden"
                <% if (locals.form.last_name) { %>
                    value="<%= locals.form.last_name %>"
                <% } %>>

                <p>
                    Howdy <%= locals.form.first_name %>! Thanks for using
                    <span class="greentext">/expense</span>! We'll try and make
                    this process as quick as possible. If you have any
                    questions, drop a message into
                    <span class="greentext">#finance</span>, and someone will
                    give you a hand.
                </p>

                <input type="text" name="value" class="calendar" onfocusout="checkForContent(this)"
                    <%if(locals.form.value){%>value="<%=locals.form.value%>"<%}%>
                    placeholder="When did you make this purchase?">

                <textarea type="text" name="items" class="big-box" placeholder="What did you buy? (ex: immovable rod, 13 mass spectrometers, a tesseract, bag of holding, and 23 bottles of mineral water)" onfocusout="checkForContent(this)"></textarea>
                <input type="text" name="purchased-from" class="purchased-from" onfocusout="checkForContent(this)"
                    placeholder="Who'd you buy this from?">
                <div class="helper-text">> One receipt only, please!</div>
                <input type="text" name="department" class="department" onfocusout="checkForContent(this)"
                    placeholder="What department was this for?">
                <input type="text" name="category" class="category" onfocusout="checkForContent(this)"
                    placeholder="Pick a purchase category">
                <div class="button green" id="submit-button" onclick="sendRequest('receipt1')">Submit</div>
        </section>
    </div>
    <div class="footer">
    </div>
</body>

<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function sendRequest(form_id) {
        var first_name = $("#" + form_id + "  input[name=first_name]").val()
        var last_name  = $("#" + form_id + "  input[name=last_name]").val()
        var value      = $("#" + form_id + "  input[name=value]").val()

        $.ajax({
            data: {'first_name': first_name, 'last_name': last_name, 'value': value },
            dataType: 'json',
            type: 'POST',
            url: 'http://localhost:3000/expense/submit/'
        }).done(function() {
            // TODO: run handler function to remove receipts and provide summary
        }).fail(function() {
            // TODO: figure out a way to return an error in a way that isn't bs
        })
    }

    function checkForContent(e) {
        if ($(e).val() != "") $(e).addClass('filled')
    }
</script>

</html>
